# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment Variables
.env

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp